*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 90vw;
    margin: 0 auto;
}

.maze{
    border: 1px solid gray;
    width:fit-content;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    /* display: block; */
    /* flex-flow: row; */
    /* display: -ms-inline-grid;
    display: -moz-inline-grid; */
    line-height: 0;
    user-select: none;
    justify-items: center;
    /* margin: 20px 0; */
    transition-duration: 100ms;
}

.node{
    border: 1px solid white;
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 0;
}
@keyframes popup {
    from {
        transform: scale(0);
        border-radius: 25px;
    }
  
    to {
        transform: scale(100%);
        border-radius: 0px;
    }
  }

.wall{
    border: 1px solid black;
    background-color: black;
}
.visited{
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
}
.path{
    border: 1px solid yellow;
    background-color: yellow;
}

.start{
    border: 1px solid green;
    background-color: green;
}
.end{
    border: 1px solid red;
    background-color: red;
}
.unvisited{
    border: 1px solid white;
    background-color: white;
}
.popup{
    animation-name: popup;
    animation-duration: 500ms;
}

.control-button{
    padding: 5px;
    width: 70px;
    border: 2px solid white;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.playSpeed{
    color: red;

}

.mazeControl{
    transition: all 500ms;
    display: flex; 
    /* width: 50%;  */
    justify-content: space-between;
    /* height: 0; */
    overflow: hidden;
    /* border: 1px solid blue; */
    text-align: center;
    background-color: lightseagreen;
    color: white;
    padding: 20px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

.mazeControl select{
    background-color: lightseagreen;
    color: white;
    border: 0;
    padding: 5px 10px;
    
}

.mazeControl select option{
    background-color: lightseagreen;
    padding: 5px 10px;
}
.mazeControl select option:hover{
    background-color: white;
}
